### Собираем данные для вакансий для базы данных

In [110]:
import pandas as pd
import os
import random
import sys

In [111]:
path_to_vacancies = "../../data/tables/job_title_des.csv"

In [112]:
vacancies = pd.read_csv(path_to_vacancies)

In [113]:
vacancies.head()

,Unnamed: 0,Job Title,Job Description
0,0,Flutter Developer,We are looking for hire experts flutter develo...
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n..."
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...
4,4,Full Stack Developer,job responsibility full stack engineer – react...

In [114]:
vacancies = vacancies.rename(columns={'Job Title': 'name', 'Job Description': 'description'})

In [115]:
vacancies.head()

,Unnamed: 0,name,description
0,0,Flutter Developer,We are looking for hire experts flutter develo...
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n..."
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...
4,4,Full Stack Developer,job responsibility full stack engineer – react...

In [116]:
vacancies['salary'] = [f"{random.randint(8000, 90000)},{random.randint(8000, 90000)}" for _ in range(len(vacancies))]

In [117]:
vacancies.head()

,Unnamed: 0,name,description,salary
0,0,Flutter Developer,We are looking for hire experts flutter develo...,"63211,45263"
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"71635,84391"
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","77477,86978"
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"13471,35913"
4,4,Full Stack Developer,job responsibility full stack engineer – react...,"86827,50182"

In [118]:
vacancies['skill'] = [""] * len(vacancies)

In [119]:
vacancies.head()

,Unnamed: 0,name,description,salary,skill
0,0,Flutter Developer,We are looking for hire experts flutter develo...,"63211,45263",
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"71635,84391",
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","77477,86978",
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"13471,35913",
4,4,Full Stack Developer,job responsibility full stack engineer – react...,"86827,50182",

In [120]:
embeddings = "../../data/tables/embeddings.csv"
embeddings = pd.read_csv(embeddings)

In [121]:
embeddings.head()

   Unnamed: 0                                     url
0           0  ./data/embeddings/personalities/17.npy
1           1  ./data/embeddings/personalities/18.npy
2           2  ./data/embeddings/personalities/19.npy
3           3  ./data/embeddings/personalities/20.npy
4           4  ./data/embeddings/personalities/21.npy

In [122]:
vacancies['embedding_id'] = embeddings['Unnamed: 0'][8007:].values

In [123]:
vacancies.head()

,Unnamed: 0,name,description,salary,skill,embedding_id
0,0,Flutter Developer,We are looking for hire experts flutter develo...,"63211,45263",,8007
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"71635,84391",,8008
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","77477,86978",,8009
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"13471,35913",,8010
4,4,Full Stack Developer,job responsibility full stack engineer – react...,"86827,50182",,8011

In [125]:
# vacancies = vacancies.drop(['Unnamed: 0'])
# vacancies.head()

In [126]:
vacancies.to_csv('../../data/tables/vacancies.csv')