### Собираем данные для вакансий для базы данных

In [1]:
import pandas as pd
import os
import random
import sys

In [2]:
path_to_vacancies = "../../data/vacancies.csv"

In [3]:
vacancies = pd.read_csv(path_to_vacancies)

In [4]:
vacancies.head()

              Job Title                                    Job Description
0     Flutter Developer  We are looking for hire experts flutter develo...
1      Django Developer  PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2      Machine Learning  Data Scientist (Contractor)\n\nBangalore, IN\n...
3         iOS Developer  JOB DESCRIPTION:\n\nStrong framework outside o...
4  Full Stack Developer  job responsibility full stack engineer – react...

In [5]:
vacancies = vacancies.rename(columns={'Job Title': 'name', 'Job Description': 'description'})

In [6]:
vacancies.head()

                   name                                        description
0     Flutter Developer  We are looking for hire experts flutter develo...
1      Django Developer  PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2      Machine Learning  Data Scientist (Contractor)\n\nBangalore, IN\n...
3         iOS Developer  JOB DESCRIPTION:\n\nStrong framework outside o...
4  Full Stack Developer  job responsibility full stack engineer – react...

In [7]:
vacancies['salary'] = [f"{random.randint(8000, 90000)},{random.randint(8000, 90000)}" for _ in range(len(vacancies))]

In [8]:
vacancies.head()

,name,description,salary
0,Flutter Developer,We are looking for hire experts flutter develo...,"73091,34050"
1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"57798,25463"
2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","36135,52345"
3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"84821,64731"
4,Full Stack Developer,job responsibility full stack engineer – react...,"15427,50861"

In [9]:
vacancies['skill'] = [None] * len(vacancies)

In [10]:
vacancies.head()

,name,description,salary,skill
0,Flutter Developer,We are looking for hire experts flutter develo...,"73091,34050",None
1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"57798,25463",None
2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","36135,52345",None
3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"84821,64731",None
4,Full Stack Developer,job responsibility full stack engineer – react...,"15427,50861",None

In [11]:
path_vacancies_embedding = "../../data/embeddings/vacancies/embeddings"

In [12]:
path_to_embeddings = []
ids = []
for path_vac in os.listdir(path_vacancies_embedding):
    full_path = f'./data/vacancies/embeddings/{path_vac}'
    vac_id = int(path_vac[:-4])
    ids.append(vac_id)
    path_to_embeddings.append(full_path)

In [13]:
embeddings = pd.DataFrame({'id': ids, 'url': path_to_embeddings}).sort_values('id')

In [14]:
embeddings.head()

      id                                url
686    0  ./data/vacancies/embeddings/0.npy
1432   1  ./data/vacancies/embeddings/1.npy
1959   2  ./data/vacancies/embeddings/2.npy
41     3  ./data/vacancies/embeddings/3.npy
951    4  ./data/vacancies/embeddings/4.npy

In [15]:
embeddings = embeddings.set_index('id')

In [16]:
embeddings.head()

                                  url
id
0   ./data/vacancies/embeddings/0.npy
1   ./data/vacancies/embeddings/1.npy
2   ./data/vacancies/embeddings/2.npy
3   ./data/vacancies/embeddings/3.npy
4   ./data/vacancies/embeddings/4.npy

In [17]:
embeddings.to_csv('./embeddings.csv')

In [18]:
vacancies['embedding_id'] = [None] * len(vacancies)

In [19]:
vacancies.head()

,name,description,salary,skill,embedding_id
0,Flutter Developer,We are looking for hire experts flutter develo...,"73091,34050",None,None
1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...,"57798,25463",None,None
2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n...","36135,52345",None,None
3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...,"84821,64731",None,None
4,Full Stack Developer,job responsibility full stack engineer – react...,"15427,50861",None,None

In [20]:
vacancies.to_csv('./vacancies.csv')