### Создаем синтетические данные для заполнения базы данных

In [187]:
import pandas as pd
import os
from faker import Faker
from datetime import datetime
import random
import pickle
import numpy as np
os.getcwd()

'/home/user1/HireSnap/src/stuff'

In [188]:
# Инициализация генератора данных с указанием локали для английского языка
fake = Faker("en_US")

In [189]:
def custom_phone_number():
    return f"+1-{random.randint(100, 999)}-{random.randint(100, 999)}-{random.randint(1000, 9999)}"

In [190]:
def custom_name():
    return f"{fake.first_name()} {fake.last_name()}"

In [191]:
# Путь к директории с файлами embeddings
path_to_embedding_users = '/home/user1/HireSnap/data/tables/embeddings.csv'

In [192]:
# Получаем список всех файлов с расширением .npy
embeddings = pd.read_csv(path_to_embedding_users)

In [193]:
len(embeddings)

10284

In [194]:
embeddings.head()

   Unnamed: 0                                     url
0           0  ./data/embeddings/personalities/17.npy
1           1  ./data/embeddings/personalities/18.npy
2           2  ./data/embeddings/personalities/19.npy
3           3  ./data/embeddings/personalities/20.npy
4           4  ./data/embeddings/personalities/21.npy

In [195]:
# Создание DataFrame с требуемыми значениями
info_candidates_df = pd.DataFrame({
    "name": [str(custom_name()) for _ in range(num_users)],
    "phone": [str(custom_phone_number()) for _ in range(num_users)],
    "gender": [str(random.choice(["Male", "Female"])) for _ in range(num_users)],  # Случайное значение для гендера
    "data_birth": [f"{fake.date_of_birth(minimum_age=18, maximum_age=65)}" for _ in range(num_users)],  # Случайная дата рождения
    "file_id": [None] * num_users,
    "embedding_id": [None] * num_users
})

# Выводим первые несколько строк DataFrame для проверки
print(info_candidates_df.head())

              name            phone  gender  data_birth file_id embedding_id
0  Zachary Hawkins  +1-712-820-4122  Female  2004-11-08    None         None
1      Katie Smith  +1-303-814-1819    Male  1970-12-02    None         None
2  Whitney Vincent  +1-796-655-7368    Male  1977-02-24    None         None
3     Mark Hawkins  +1-203-263-4015  Female  1978-06-01    None         None
4      Tyler Smith  +1-220-796-8350  Female  1997-12-09    None         None

In [196]:
info_candidates_df.head()

              name            phone  gender  data_birth file_id embedding_id
0  Zachary Hawkins  +1-712-820-4122  Female  2004-11-08    None         None
1      Katie Smith  +1-303-814-1819    Male  1970-12-02    None         None
2  Whitney Vincent  +1-796-655-7368    Male  1977-02-24    None         None
3     Mark Hawkins  +1-203-263-4015  Female  1978-06-01    None         None
4      Tyler Smith  +1-220-796-8350  Female  1997-12-09    None         None

In [197]:
info_candidates_df['embedding_id'] = [index + 3 for index, f in enumerate(range(num_users))]

In [198]:
info_candidates_df.head()

              name            phone  gender  data_birth file_id  embedding_id
0  Zachary Hawkins  +1-712-820-4122  Female  2004-11-08    None             3
1      Katie Smith  +1-303-814-1819    Male  1970-12-02    None             4
2  Whitney Vincent  +1-796-655-7368    Male  1977-02-24    None             5
3     Mark Hawkins  +1-203-263-4015  Female  1978-06-01    None             6
4      Tyler Smith  +1-220-796-8350  Female  1997-12-09    None             7

In [199]:
len(info_candidates_df)

8000

In [200]:
# Путь к директории с файлами embeddings
path_to_files = '/home/user1/HireSnap/data/tables/files.csv'
# Получаем список всех файлов с расширением .npy
files = pd.read_csv(path_to_files)

In [201]:
files.head()

   Unnamed: 0                 url
0           0  ./data/files/5.mp4
1           1  ./data/files/6.mp4
2           2  ./data/files/7.mp4
3           3  ./data/files/8.mp4
4           4  ./data/files/9.mp4

In [202]:
info_candidates_df['file_id'] = files['Unnamed: 0']

In [203]:
info_candidates_df.head()

              name            phone  gender  data_birth  file_id  embedding_id
0  Zachary Hawkins  +1-712-820-4122  Female  2004-11-08        0             3
1      Katie Smith  +1-303-814-1819    Male  1970-12-02        1             4
2  Whitney Vincent  +1-796-655-7368    Male  1977-02-24        2             5
3     Mark Hawkins  +1-203-263-4015  Female  1978-06-01        3             6
4      Tyler Smith  +1-220-796-8350  Female  1997-12-09        4             7

In [204]:
info_candidates_df.to_csv('../../data/tables/indo_candidates.csv')