### Создаем синтетические данные для заполнения базы данных

In [55]:
import pandas as pd
import os
from faker import Faker
from datetime import datetime
import random
os.getcwd()

'/home/user1/HireSnap/src/stuff'

In [56]:
# Инициализация генератора данных с указанием локали для английского языка
fake = Faker("en_US")

In [57]:
def custom_email():
    domains = ["gmail.com", "yahoo.com", "outlook.com"]
    return f"{fake.first_name().lower()}.{fake.last_name().lower()}@{random.choice(domains)}"

In [58]:
def custom_phone_number():
    return f"+1-{random.randint(100, 999)}-{random.randint(100, 999)}-{random.randint(1000, 9999)}"

In [59]:
def custom_name():
    return f"{fake.first_name()} {fake.last_name()}"

In [60]:
# Количество пользователей
num_users = 23999

# Создание DataFrame с требуемыми значениями
users_df = pd.DataFrame({
    "email": [str(custom_email()) for _ in range(num_users)],
    "password": ["password"] * num_users,
    "type": ["candidate"] * num_users,
    "info_id": [int(index + 1) for index, _ in enumerate(range(num_users))],
    "created_at": [""] * num_users,
    "role": ["user"] * num_users
})

In [61]:
users_df.head()

                       email  password       type  info_id created_at  role
0  matthew.stanton@gmail.com  password  candidate        1             user
1  preston.jones@outlook.com  password  candidate        2             user
2    amber.solomon@yahoo.com  password  candidate        3             user
3    craig.boone@outlook.com  password  candidate        4             user
4     charles.rios@gmail.com  password  candidate        5             user

In [62]:
users_df.to_csv('../../data/tables/users.csv')

In [63]:
import os
import pandas as pd

def remove_column_from_csv(directory, column_name='Unnamed: 0'):
    # Проходим по всем файлам в указанной директории
    for filename in os.listdir(directory):
        # Проверяем, что файл имеет расширение .csv
        if filename.endswith('.csv'):
            file_path = os.path.join(directory, filename)
            
            try:
                # Чтение CSV файла в DataFrame
                df = pd.read_csv(file_path)
                
                # Проверяем, существует ли столбец с нужным названием
                if column_name in df.columns:
                    # Удаляем столбец
                    df = df.drop(columns=[column_name])
                    # Сохраняем обновленный DataFrame обратно в CSV
                    df.to_csv(file_path, index=False)
                    print(f"Столбец '{column_name}' удален из файла {filename}")
                else:
                    print(f"Столбец '{column_name}' не найден в файле {filename}")
            except Exception as e:
                print(f"Ошибка при обработке файла {filename}: {e}")

# Указываем путь к директории с CSV файлами
directory_path = '../../data/tables'  # Замените на нужную директорию
remove_column_from_csv(directory_path)

Столбец 'Unnamed: 0' удален из файла embeddings.csv
Столбец 'Unnamed: 0' удален из файла ocean.csv
Столбец 'Unnamed: 0' удален из файла users.csv
Столбец 'Unnamed: 0' удален из файла files.csv
Столбец 'Unnamed: 0' удален из файла info_candidates.csv
Столбец 'Unnamed: 0' удален из файла vacancies.csv