### Создаем синтетические данные для заполнения базы данных

In [29]:
import pandas as pd
import os
from faker import Faker
from datetime import datetime
import random
import pickle
import numpy as np
os.getcwd()

'/home/user1/HireSnap/src/stuff'

In [30]:
# Инициализация генератора данных с указанием локали для английского языка
fake = Faker("en_US")

In [31]:
def custom_phone_number():
    return f"+1-{random.randint(100, 999)}-{random.randint(100, 999)}-{random.randint(1000, 9999)}"

In [32]:
def custom_name():
    return f"{fake.first_name()} {fake.last_name()}"

In [33]:
# Путь к директории с файлами embeddings
path_to_embedding_users = '/home/user1/HireSnap/data/tables/embeddings.csv'

In [34]:
# Получаем список всех файлов с расширением .npy
embeddings = pd.read_csv(path_to_embedding_users)

In [35]:
len(embeddings)

10284

In [36]:
embeddings.head()

                                      url
0  ./data/embeddings/personalities/17.npy
1  ./data/embeddings/personalities/18.npy
2  ./data/embeddings/personalities/19.npy
3  ./data/embeddings/personalities/20.npy
4  ./data/embeddings/personalities/21.npy

In [37]:
num_users = 8000

# Создание DataFrame с требуемыми значениями
info_candidates_df = pd.DataFrame({
    "name": [str(custom_name()) for _ in range(num_users)],
    "phone": [str(custom_phone_number()) for _ in range(num_users)],
    "gender": [str(random.choice(["Male", "Female"])) for _ in range(num_users)],  # Случайное значение для гендера
    "date_birth": [f"{fake.date_of_birth(minimum_age=18, maximum_age=65)}" for _ in range(num_users)],  # Случайная дата рождения
    "file_id": [None] * num_users,
    "embedding_id": [None] * num_users
})

# Выводим первые несколько строк DataFrame для проверки
print(info_candidates_df.head())

              name            phone  gender  date_birth file_id embedding_id
0      Linda Miles  +1-506-468-2639    Male  1961-10-11    None         None
1  Victor Williams  +1-600-654-8395  Female  1999-03-25    None         None
2   Susan Browning  +1-268-364-8480    Male  1960-10-23    None         None
3      Jane Taylor  +1-141-414-1187    Male  1989-08-17    None         None
4   Fernando Brock  +1-705-848-7321  Female  1976-06-22    None         None

In [38]:
info_candidates_df.head()

              name            phone  gender  date_birth file_id embedding_id
0      Linda Miles  +1-506-468-2639    Male  1961-10-11    None         None
1  Victor Williams  +1-600-654-8395  Female  1999-03-25    None         None
2   Susan Browning  +1-268-364-8480    Male  1960-10-23    None         None
3      Jane Taylor  +1-141-414-1187    Male  1989-08-17    None         None
4   Fernando Brock  +1-705-848-7321  Female  1976-06-22    None         None

In [39]:
info_candidates_df['embedding_id'] = [index + 3 for index, f in enumerate(range(num_users))]

In [40]:
info_candidates_df.head()

              name            phone  gender  date_birth file_id  embedding_id
0      Linda Miles  +1-506-468-2639    Male  1961-10-11    None             3
1  Victor Williams  +1-600-654-8395  Female  1999-03-25    None             4
2   Susan Browning  +1-268-364-8480    Male  1960-10-23    None             5
3      Jane Taylor  +1-141-414-1187    Male  1989-08-17    None             6
4   Fernando Brock  +1-705-848-7321  Female  1976-06-22    None             7

In [41]:
len(info_candidates_df)

8000

In [42]:
# Путь к директории с файлами embeddings
path_to_files = '/home/user1/HireSnap/data/tables/files.csv'
# Получаем список всех файлов с расширением .npy
files = pd.read_csv(path_to_files)

In [43]:
files.head()

                  url
0  ./data/files/5.mp4
1  ./data/files/6.mp4
2  ./data/files/7.mp4
3  ./data/files/8.mp4
4  ./data/files/9.mp4

In [44]:
info_candidates_df['file_id'] = files['Unnamed: 0']

KeyError: 'Unnamed: 0'

In [45]:
info_candidates_df.head()

              name            phone  gender  date_birth file_id  embedding_id
0      Linda Miles  +1-506-468-2639    Male  1961-10-11    None             3
1  Victor Williams  +1-600-654-8395  Female  1999-03-25    None             4
2   Susan Browning  +1-268-364-8480    Male  1960-10-23    None             5
3      Jane Taylor  +1-141-414-1187    Male  1989-08-17    None             6
4   Fernando Brock  +1-705-848-7321  Female  1976-06-22    None             7

In [46]:
info_candidates_df = info_candidates_df.replace({pd.NA: None, np.nan: None})
info_candidates_df['id'] = [int(p) for p in range(len(info_candidates_df))]

In [47]:
info_candidates_df.to_csv('../../data/tables/info_candidates.csv')