#### Обьединяем таблицу mbti и таблицу ocean, для загрузки в базу данных

In [45]:
import pandas as pd
import os
import sys

In [46]:
path_to_ocean = "../../data/tables/ocean.csv"

In [47]:
ocean = pd.read_csv(path_to_ocean)

In [48]:
ocean.head()

   Unnamed: 0 name                                        description
0           0    O  Openness to experience describes a person as c...
1           1    C  Conscientiousness characterizes a person as or...
2           2    E  Extraversion describes a person as active, soc...
3           3    A  Agreeableness characterizes a person as sensit...
4           4    N  Neuroticism reflects a person's tendency towar...

In [49]:
ocean = ocean.rename(columns={'Personality type': 'name', 'Description': 'description'})

In [50]:
ocean.head()

   Unnamed: 0 name                                        description
0           0    O  Openness to experience describes a person as c...
1           1    C  Conscientiousness characterizes a person as or...
2           2    E  Extraversion describes a person as active, soc...
3           3    A  Agreeableness characterizes a person as sensit...
4           4    N  Neuroticism reflects a person's tendency towar...

In [51]:
# Путь к директории с файлами embeddings
path_to_embedding_users = '/home/user1/HireSnap/data/tables/embeddings.csv'
# Получаем список всех файлов с расширением .npy
embeddings = pd.read_csv(path_to_embedding_users)

In [52]:
embeddings.head()

   Unnamed: 0                                     url
0           0  ./data/embeddings/personalities/17.npy
1           1  ./data/embeddings/personalities/18.npy
2           2  ./data/embeddings/personalities/19.npy
3           3  ./data/embeddings/personalities/20.npy
4           4  ./data/embeddings/personalities/21.npy

In [53]:
ocean['embedding_id'] = embeddings['Unnamed: 0'][:5]

In [54]:
ocean.to_csv('../../data/ocean.csv')

In [55]:
ocean.head()

,Unnamed: 0,name,description,embedding_id
0,0,O,Openness to experience describes a person as c...,0
1,1,C,Conscientiousness characterizes a person as or...,1
2,2,E,"Extraversion describes a person as active, soc...",2
3,3,A,Agreeableness characterizes a person as sensit...,3
4,4,N,Neuroticism reflects a person's tendency towar...,4